@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #1e90ff;
  --text-color: #000;
  --bg-main: #fff;
  --bg-second: #f1f1f1;
}

.dark {
  --text-color: #fff;
  --bg-main: #151515;
  --bg-second: #252525;
}

.p-main {
  padding-left: 120px;
  padding-right: 120px;
}

@media (max-width: 1280px) {
  .p-main {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (max-width: 1024px) {
  .p-main {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .p-main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 640px) {
  .p-main {
    padding-left: 15px;
    padding-right: 15px;
  }
}
