@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 12.5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

:root {
  --main-color: #1e90ff;
  --text-color: #000;
  --text-white: #fff;
  --gray-color: #707070;
  --bg-main: #fff;
  --bg-second: #f1f1f1;
}

.dark {
  --text-color: #fff;
  --gray-color: #cccccc;
  --text-white: #fff;
  --bg-main: #151515;
  --bg-second: #252525;
}

.p-main {
  padding-left: 120px;
  padding-right: 120px;
}

@media (max-width: 1280px) {
  .p-main {
    padding-left: 90px;
    padding-right: 90px;
  }
  .mouse {
    margin-top: 80px !important;
  }
}

@media (max-width: 1110px) {
  .mouse {
    margin-top: 150px !important;
  }
}

@media (max-width: 1024px) {
  .p-main {
    padding-left: 60px;
    padding-right: 60px;
  }
  .mouse {
    margin-top: 0 !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .p-main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 640px) {
  .p-main {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Circles */
.circles {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes circleAnimation {
  0% {
    opacity: 0.2;
    border-radius: 50%;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.circles > div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  bottom: 0;
  animation: circleAnimation 25s linear infinite;
  background: var(--main-color);
}

.circles > div:nth-child(1) {
  left: 10%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(2) {
  left: 20%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles > div:nth-child(3) {
  left: 30%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles > div:nth-child(4) {
  left: 40%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(5) {
  left: 50%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles > div:nth-child(6) {
  left: 60%;
  width: 28px;
  height: 28px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles > div:nth-child(7) {
  left: 70%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(8) {
  left: 80%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles > div:nth-child(9) {
  left: 90%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles > div:nth-child(10) {
  left: 96%;
  width: 36px;
  height: 36px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(11) {
  left: 5%;
  bottom: 60%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles > div:nth-child(12) {
  left: 10%;
  bottom: 50%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(13) {
  left: 45%;
  bottom: 40%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(14) {
  left: 55%;
  bottom: 30%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(15) {
  left: 65%;
  bottom: 20%;
  width: 38px;
  height: 38px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(16) {
  left: 75%;
  bottom: 10%;
  width: 26px;
  height: 26px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(17) {
  left: 13%;
  bottom: 18%;
  width: 42px;
  height: 42px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(18) {
  left: 35%;
  bottom: 17%;
  width: 31px;
  height: 31px;
  animation-delay: 0s;
  animation-duration: 9s;
}

.circles > div:nth-child(19) {
  left: 60%;
  bottom: 40%;
  width: 35px;
  height: 35px;
  animation-delay: 0s;
  animation-duration: 7s;
}

.circles > div:nth-child(20) {
  left: 53%;
  bottom: 20%;
  width: 36px;
  height: 36px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles > div:nth-child(21) {
  left: 33%;
  bottom: 40%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles > div:nth-child(22) {
  left: 13%;
  bottom: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles > div:nth-child(23) {
  left: 47%;
  bottom: 10%;
  width: 24px;
  height: 24px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles > div:nth-child(24) {
  left: 86%;
  bottom: 30%;
  width: 12px;
  height: 12px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles > div:nth-child(25) {
  left: 42%;
  bottom: 28%;
  width: 16px;
  height: 16px;
  animation-delay: 0s;
  animation-duration: 8s;
}

@media (max-width: 768px) {
  @keyframes circleAnimation {
    0% {
      opacity: 0.15;
      border-radius: 37.5%;
      transform: translateY(0) rotate(0deg);
    }
    100% {
      opacity: 0;
      border-radius: 75%;
      transform: translateY(-1000px) rotate(720deg);
    }
  }
}

/* Mouse Animation */
.mouse {
  width: 30px;
  height: 50px;
  border: 2px solid var(--text-color);
  border-radius: 60px;
}

.mouse::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  100% {
    opacity: 0;
    top: 25px;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px var(--main-color), 0 0 2px var(--main-color),
      0 0 3px var(--main-color);
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 0.5px var(--main-color), 0 0 1px var(--main-color),
      0 0 1.5px var(--main-color);
    opacity: 0.95;
  }
  100% {
    text-shadow: 0 0 1px var(--main-color), 0 0 2px var(--main-color),
      0 0 3px var(--main-color);
    opacity: 1;
  }
}

.text-glow {
  animation: glow 1s infinite alternate;
}

.skills-section {
  background-color: var(--bg-second);
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.skills-card img {
  width: 100px;
  height: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--main-color);
  font-weight: 800;
}

.swiper-button-next {
  right: 30px;
}

.swiper-button-prev {
  left: 30px;
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}
